textarea {
    min-height: 400px;
}

.email {
    cursor: pointer;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: .5rem;
    border: 1px solid black;
    border-collapse: collapse;
}

.left-div {
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

.right-div {
    flex-wrap: wrap;
}

.sender {
    flex: 0 0 50%;
    font-weight: bold;
}

@media (max-width: 770px) {
    .email {
        flex-direction: column;
    }

    .left-div,
    .right-div {
        width: 100%;
    }

    .sender,
    .subject {
        flex: 0 0 50%;
    }
}

.email-display-header>p {
    margin-bottom: 0;
}

 .fade-in {
    animation: fade-in 5s ease;
}

.fade-out{
    animation: fade-out 1s ease 2s forwards;
} 

/* Alert animation */
@keyframes fade-in {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 100%;
    }
}

@keyframes fade-out {
    0% {
        opacity: 100%;
    }

    100% {
        opacity: 0;
    }
}